body {
    direction: rtl;
    text-align: right;
    width: 400px;
    font-family: Arial;
    padding: 10px;
}
textarea {
    direction: rtl;
    text-align: right;
    width: 100%;
    height: 150px;
}
input {
    direction: rtl;
    text-align: right;
    width: 100%;
    margin-top: 10px;
}
select {
    direction: rtl;
    text-align: right;
    width: 100%;
    margin-top: 10px;
}
button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
}
